@model PlayersBay.Services.Data.Models.Deals.DealInputModel

<h2 class="custom-label" style="margin-top: 20px;">Get this offer now!</h2>
<form asp-controller="Deals" asp-action="Purchase" method="post">
    <div class="form-group">
        <input type="text" hidden="hidden" value="@Model.SellerName" name="SellerName" />
        <input type="text" hidden="hidden" value="@Model.OfferId" name="OfferId" />
    </div>
    <button type="submit" class="btn btn-primary btn-lg" style="width: 80%">Purchase</button>
</form>