@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index"><i class="fas fa-crown"></i> Control Panel</a>
        </li>
    </ul>
}