@using PlayersBay.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@if (this.SignInManager.IsSignedIn(this.User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Transactions" asp-action="TopUp">$@user.Balance</a></li>
            <li><a asp-controller="Offers" asp-action="Create"><i class="fas fa-money-bill"></i> Sell</a></li>
            <li>
                <a asp-controller="Messages" asp-action="Inbox" asp-route-username="@this.UserManager.GetUserName(this.User)">
                    <i class="far fa-envelope"></i>
                </a>
            </li>
            <li>
                <a asp-controller="Offers" asp-action="ActiveOffers" asp-route-username="@this.UserManager.GetUserName(this.User)">
                    &nbsp;<i class="fas fa-cogs"></i>&nbsp; @this.UserManager.GetUserName(this.User)
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-plus"></i> Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-user"></i> Login</a></li>
    </ul>
}
