@using PlayersBay.Data.Models
@inject UserManager<ApplicationUser> UserManager

<div class="row" style="margin-top: 20px;">
    <div class="col-md-5 text-center">
        <ul class="nav nav-pills nav-stacked text-center">
            <li>
                <a asp-controller="Transfers" asp-action="All">Transfers</a>
            </li>
            <li>
                <a data-toggle="collapse" href="#messages" aria-controls="messages">
                    Messages
                </a>
            </li>
        </ul>

        <div class="collapse" id="messages">
            <a asp-controller="Messages" asp-action="Inbox" class="custom-collapse-dropdown">
                <div class="custom-collapse-dropdown">Inbox</div>
            </a>
            <a asp-controller="Messages" asp-action="Outbox" class="custom-collapse-dropdown">
                <div class="custom-collapse-dropdown">Outbox</div>
            </a>
        </div>
    </div>

    <div class="col-md-offset-2 col-md-5 text-center nav nav-pills nav-stacked text-center">
        <ul class="nav nav-pills nav-stacked text-center">
            <li>
                <a href="/Identity/Account/Manage/ChangePassword">Change Password</a>
            </li>
            <li>
                <a data-toggle="collapse" href="#deals" aria-controls="deals">
                    Offers
                </a>
            </li>
        </ul>
            <div class="collapse" id="deals">
                <a asp-controller="Offers" asp-action="ActiveOffers" class="custom-collapse-dropdown">
                    <div class="custom-collapse-dropdown">My offers</div>
                </a>
                <a asp-controller="Offers" asp-action="SoldOffers" class="custom-collapse-dropdown">
                    <div class="custom-collapse-dropdown">Sold offers</div>
                </a>
                <a asp-controller="Offers" asp-action="BoughtOffers" class="custom-collapse-dropdown">
                    <div class="custom-collapse-dropdown">Bought offers</div>
                </a>
            </div>
       
    </div>
</div>