@model IEnumerable<PlayersBay.Services.Data.Models.Games.GameViewModel>

@{
    ViewData["Title"] = "All games";
}

<div class="container-fluid text-center">
    <h1>All games</h1>
</div>
<div class="card-deck container-fluid">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">@item.Name</h2>
                    <div class="card-body">
                        @if (item.ImageUrl != null)
                        {
                            <img style="height: 300px; width: 100%;" class="card-img-top" src="@item.ImageUrl" alt="Game image" />
                        }
                        else
                        {
                            <img style="height: 300px; width: 100%;" class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Empty_set.svg/1024px-Empty_set.svg.png" alt="Game image" />
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>