@model PlayersBay.Web.Areas.Administrator.InputModels.Games.GamesCreateInputModel
@{
    this.ViewData["Title"] = "Create Game";
}

<div class="row justify-content-center">
    <form enctype="multipart/form-data" asp-area="Administrator" asp-controller="Games" asp-action="Create" method="post" class="col-md-4 col-md-offset-4">
        <h2>Create new game</h2>
        <hr />
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <p>Image</p>
            <input type="file" asp-for="ImageUrl" name="ImageUrl" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Create game</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
