@model PlayersBay.Services.Data.Models.Offers.OfferToEditViewModel
@{
    this.ViewData["Title"] = "Delete Offer";

}

<div class="row">
    <form enctype="multipart/form-data" asp-controller="Offers" asp-action="Delete" method="post">
        <div class="col-md-offset-1 col-md-4">
            <h2>Delete offer #@Model.Id</h2>
            <hr />
            <fieldset disabled="">
                <div class="input-group input-group-lg">
                    <label asp-for="@Model.OfferType" class="input-group-addon custom-label"></label>
                    <select class="form-control" asp-for="OfferType"
                            asp-items="@(Html.GetEnumSelectList<OfferType>())">
                        <option selected="" disabled="">--Select offer type--</option>
                    </select>
                </div>
                <fieldset disabled="">
                    <div class="input-group input-group-lg">
                        <label class="input-group-addon custom-label">Game</label>
                        <div style="margin-top: 12px;">@ViewData["Game"]</div>
                    </div>
                </fieldset>
                <div class="input-group input-group-lg">
                    <label asp-for="Duration" class="input-group-addon custom-label"></label>
                    <input asp-for="Duration" type="radio" value="7" id="7" style="margin-top: 20px;" />
                    <label for="7">7 Days&nbsp;&nbsp;</label>
                    <input asp-for="Duration" type="radio" id="15" value="15" />
                    <label for="15">15 Days&nbsp;&nbsp;</label>
                    <input asp-for="Duration" type="radio" id="30" value="30" />
                    <label for="30">30 Days</label>
                </div>

                <div class="input-group input-group-lg">
                    <label asp-for="Price" class="input-group-addon custom-label"></label>
                    <input asp-for="Price" class="form-control" step=0.01 placeholder="Get your $" />
                </div>

                <div class="input-group input-group-lg">
                    <label asp-for="Title" class="input-group-addon custom-label"></label>
                    <input asp-for="Title" class="form-control" placeholder="First thing buyer checks!" />
                </div>
                <div class="input-group input-group-lg">
                    <label class="input-group-addon custom-label">Image:</label>
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img style="height: 200px; width: 200px;" src="@Model.ImageUrl" alt="Destination image" />
                    }
                    else
                    {
                        <img style="height: 200px; width: 200px;" src="~/images/noimage.png" alt="Destination image" />
                    }
                </div>
            </fieldset>
        </div>
        <div class="col-md-offset-2 col-md-4" style="margin-top: 70px;">
            <fieldset disabled="">
                <div class="form-group">
                    <label asp-for="Description" class="control-label custom-label"></label>
                    <textarea rows="9" cols="20" asp-for="Description" class="form-control" placeholder="Good description makes good deals..."></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="MessageToBuyer" class="control-label custom-label"></label>
                    <textarea asp-for="MessageToBuyer" class="form-control" placeholder="Message that will be send to buyer immediately after purchase."></textarea>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary btn-lg" style="width: 80%">Delete offer</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
