@model PlayersBay.Services.Data.Models.Offers.OfferDetailsViewModel
@{
    this.ViewData["Title"] = "Offer details";
}
<h1 class="text-center">@Model.Title</h1>

<div class="container">
    <p class="text-center  text-info">@Model.OfferType</p>
    <h4 class="text-center  text-info">TODO:</h4>

</div>
