@model IEnumerable<PlayersBay.Services.Data.Models.Games.GameViewModel>

@{
    ViewData["Title"] = "All games";
}

<div class="container-fluid text-center">
    <h1 class="display-3">SECURE <span style="color: #ffa709">PLAYER-TO-PLAYER</span> MARKETPLACE</h1>
</div>
<div class="row">
    @if (!Model.Any())
    {
        <div class="container-fluid text-center">
            <h3>No games added.</h3>
            <h4>Please login with admin to add Games.</h4>
        </div>
    }
    @foreach (var item in Model)
    {
        <div class="col-md-3" style="margin-top: 20px">
            <div class="card text-center">
                <a asp-controller="Offers" asp-action="All" asp-route-id=@item.Id>
                    <div class="card-body">
                        <h2 class="card-title">@item.Name</h2>

                        <div class="card-body">
                            <img style="height: 300px; width: 100%; border-radius: 10%;" class="card-img-top" src="@item.ImageUrl" alt="Game image" />
                        </div>
                    </div>
                </a>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <a class="btn btn-outline-primary" asp-area="Administrator" asp-controller="Games" asp-action="Edit" asp-route-id=@item.Id>Edit</a>
                    <a class="btn btn-outline-primary" asp-area="Administrator" asp-controller="Games" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                }
            </div>
        </div>
    }
</div>