@model IEnumerable<PlayersBay.Services.Data.Models.Games.GameViewModel>

@{
    ViewData["Title"] = "All games";
}

<div class="container-fluid text-center">
    <h1 style="color: #ffa709" class="display-3">SECURE PLAYER-TO-PLAYER MARKETPLACE</h1>
</div>
<div class="row">
    @if (!Model.Any())
    {
        <div class="container-fluid text-center">
            <h3>No games added.</h3>
            <h4>Please login with admin to add Games.</h4>
        </div>
    }
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">@item.Name</h2>
                    <div class="card-body">
                        <img style="height: 300px; width: 100%; border-radius: 10%;" class="card-img-top" src="@item.ImageUrl" alt="Game image" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>