<div class="col-md-3">
    <hr />
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a asp-area="Administrator" asp-controller="Games" asp-action="Create">Create Game</a>
        </li>
    </ul>
</div>