@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>
@*<partial name="_StatusMessage" model="this.Model.StatusMessage" />*@
<div class="row">
    <div class="col-md-6">

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
